.post
{
    border: 2px solid rgb(255, 43, 255);
    display: block;
    margin-right: auto;
    margin-left: auto;

    padding: 10px;
    font-size: 14px;
    text-align:left;

    border-radius: 10px;
    background-color:#1abc9c87;
}